@model chinchini.Models.Project

@{
    ViewBag.Title = "Details";
    <link href="@Url.Content("~/Content/FileUpload/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" />
}


<div class="content-wrapper">
    <div class="encapsulate">
        <div class="bluecontainer">
            <div class="image-wrap">
                <img src="http://www.cazurro.com/upload/fotoblog/FOTOBLOG__20101021_1287612135.jpg" class="img2">
            </div>
            <div class="projecttitle">
                <h4>@Html.DisplayFor(x => x.Title)</h4>
            </div>

            <div class="projectuser">
                <span>
                    Jaime Espaillat
                    @*@Html.DisplayFor(x => x.User.Name);*@
                </span>
            </div>


            <div class="projectdescription">
                <span>
                    @Html.DisplayFor(x => x.Pitch.Body)
                </span>
            </div>
            @{float PercentageTotal = chinchini.Models.Project.GetPercentage(Model.ProjectID);}
            <div class="projectprogress">
                <div class="progressbig">
                    <div class="progress-bar progress-bar-success" style="width:@PercentageTotal%"></div>
                </div>
            </div>

            <div class="projectprice">
                <div class="pull-right">
                    <span>
                        RD@{float Total = chinchini.Models.Project.GetLendTotal(@Model.ProjectID); @String.Format("{0:C}", @Total)} de @String.Format("{0:C}", Model.Amount)
                    </span>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Button</button>
                </span>
            </div>

            @foreach (var item in Model.Pitch.PitchGallery)
            {
                <div class="col-lg-3">
                    <img src="@item.ImageURL" alt="image" />
                </div>
            }


            <h3>Colaboradores</h3>
            @if (Model.Loan != null)
            {
                foreach (var item in Model.Loan.Lenders)
                {
                    <div class="col-lg-3">
                        <span> @item.User.Name</span>
                        <span> @item.Amount </span>
                    </div>
                }
            }

        </div>
    </div>
</div>
