<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UnChin.org</title>
        @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="page-header">
                <div style="display: inline-block"><h1 id="navbar">UnChin</h1></div>
                <div class="pull-right" style="display: inline-block; margin: 0px 10px;">@Html.Partial("_LoginPartial")</div>
        </div>
        <div class="bs-component">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="row"></div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Dona</a></li>
                        <li><a href="#">Apoya</a></li>
                        <li><a href="#">Quienes somos?</a></li>
                    </ul>
                </div>

            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UnChin.org</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/masonry.pkgd.js"></script>
    <script src="~/Content/js/imagesloaded.js"></script>
    <script type="text/javascript">
        var container = document.querySelector('#container2');
        $('#container2').masonry({
            itemSelector: '.box',
            isAnimated: true,
            columnWidth: 60
        });
        var msnry;
        // initialize Masonry after all images have loaded
        imagesLoaded(container, function () {
            msnry = new Masonry(container);
        });
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/tmpl.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/canvas-to-blob.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/load-image.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/jquery.iframe-transport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/jquery.fileupload-ip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/jquery.fileupload-ui.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/locale.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/FileUpload/main.js")"></script>
    }
</body>
</html>
