@model chinchini.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoanType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Numero de Pago
            </th>
            <th>
                Monto de Pago
            </th>
            <th>
                Fecha de Pago
            </th>
            <th>
                Status
            </th>
        </tr>
        @{int i = 0;}
        @using(Html.BeginForm("Pay", "Loan", FormMethod.Post)) {
        foreach (var payments in Model.Payments.OrderBy(p => p.DueDate)) {
            i = i + 1;
        <tr>
            <td>@i</td>
            <td>@payments.Amount</td>
            <td>@payments.DueDate</td>
            @if (payments.Status.Description == "Pendiente")
            {
            <td><input name="id" value="@payments.PaymentID" title="Test" type="submit" class="btn btn-primary" /></td>
            }
            else
            {
            <td>@payments.Status.Description</td>
            }        
        </tr>
        }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
